body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap");

@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card {
  position: relative;
  background-color: #2d2d2d;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    background-color: #4CAF50;
  }

  &:hover {
    box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem rgb(0 0 0 / 53%);
  }

  &:nth-child(1)::before {
    bottom: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
  }

  &:nth-child(2)::before {
    bottom: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
  }

  &:nth-child(3)::before {
    top: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
  }

  &:nth-child(4)::before {
    top: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
  }

  p {
    transition: 0.8s;
  }
}

.card:hover::before {
  clip-path: circle(110vw at 100% 100%);
}

.card:hover p {
  color: #fff;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.card:nth-child(1) .circle {
  background-image: url("https://img.freepik.com/free-photo/html-css-collage-concept-with-person_23-2150062008.jpg?t=st=1721117431~exp=1721121031~hmac=96327c6608cb873e448ce93b2b429b2054c6e3643af626a39046eb5ccbd4a378&w=740") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}

.card:nth-child(2) .circle {
  background-image: 
  url("https://img.freepik.com/free-photo/programming-background-with-person-working-with-codes-computer_23-2150010125.jpg?ga=GA1.1.947748402.1711721625&semt=sph");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}

.card:nth-child(3) .circle {
  background-image: 
  url("https://img.freepik.com/free-photo/map-lying-wooden-table_53876-105723.jpg?t=st=1721120299~exp=1721123899~hmac=ae74de6e1548505974ea4ce979e78bc49b4aeb707f53aff17c88e3b577c4d24a&w=740");
  top: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}

.card:nth-child(4) .circle {
  background-image: url("https://images.unsplash.com/photo-1600880292203-757bb62b4baf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  top: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}

.client{
  font-family: AvertaStd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15.8356px;
}

.number{
  font-family: AvertaStd, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.custom-dots .dot {
  width: 12px;
  height: 12px;
  background-color: #ccc; /* Default dot color */
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-dots .dot.active {
  background-color: #007bff; /* Active dot color */
}